<article *ngIf="dwarf">
  <header><h2>{{dwarf.name}}</h2></header>

  <div>
    Voice pitch: {{dwarf.voicePitch}}% <br><br>
  </div>
  <table>
    Weapons:
    <tr *ngFor="let weapon of weapons?.weapons">
      <td>
        {{weapon.name}}
        <a [routerLink]="['/dwarves', dwarfID,  'weapons',  weapon.id,  'edit']">Edit</a>
        <button (click)="onDelete(weapon)">Delete</button>
      </td>

    </tr>
  </table>

  <h4>
    <a [routerLink]="['/dwarves', dwarfID, 'add']">Add new weapon</a>
  </h4>


</article>
