<article *ngIf="dwarf">
  <header><h2>Edit dwarf</h2></header>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name: </label>
      <input [(ngModel)]="dwarf.name" id="name" name="name"/>
    </div>

    <div>
      <label for="voicePitch">Voice pitch: </label>
      <input [(ngModel)]="dwarf.voicePitch" id="voicePitch" name="voicePitch"/>
    </div>

    <div>
      <button type="submit">Update</button>
      <button (click)="form.resetForm(original)" type="button">Reset</button>
    </div>
  </form>
</article>
