<article class="text--justified">
  <header><h2>Dwarves</h2></header>

  <table *ngIf="dwarves">
    <thead>
    <tr>
      <th>Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dwarf of dwarves?.dwarves">
      <td>
        <a [routerLink]="['/dwarves', dwarf.id]">{{dwarf.name}}</a>
      </td>
      <td>
        <a [routerLink]="['/dwarves/add']">Add</a>
      </td>
      <td>
        <a [routerLink]="['/dwarves',dwarf.id, 'edit']">Edit</a>
      </td>
      <td>
        <button (click)="onDelete(dwarf)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</article>
